.header{	
	width: 96vw;
	height: 15vh;

	display: grid;
	grid-template-areas: 'logo txt btn' 'logo list btn';
	
	align-items: center;
	justify-items: center;
	
	padding: 1.5vh;
	background-color: #4484ce80;

	overflow: hidden;
}

.header_logo{
	grid-area: logo;

	cursor: pointer;
	max-height: 10vh;

	margin-left: 5%;
	justify-self: flex-start;
}

.header_text{
	grid-area: txt;
}

.header_menu{
	grid-area: list;
	
	display: grid;
	grid-auto-flow: column;
}

.header_list-item{
	margin: 8px;
	cursor: pointer;
}

.header_btn{
	grid-area: btn;
	
	padding: 2vh;
	cursor: pointer;
	border-radius: 4vh;
	border: 1px solid black;
	background-color: #4484ce80;
}