.header{	
	width: 96vw;
	height: 15vh;
	
	display: grid;
	grid-template-areas: 'logo txt btn' 'logo list btn';
	
	align-items: center;
	justify-items: center;
	
	padding: 1.5vh;
	background-color: #4484ce;

	overflow: hidden;
}

.header_logo{
	grid-area: logo;

	cursor: pointer;
	max-height: 10vh;

	margin-left: 5%;
	justify-self: flex-start;
}

.header_text{
	grid-area: txt;
}

.header_btn{
	grid-area: btn;
	
	padding: 2vh;
	cursor: pointer;
	border-radius: 4vh;
	border: 1px solid black;
	background-color: #4484ce;
}

.header_menu{
	grid-area: list;	

	display: grid;
	grid-auto-flow: column;
}

.lista{
	float:left;
	list-style:none;
}

.sublista{
	float:left;
	display: block;
}

.lista li a {	
	color:#333; 
	display:block;
	padding:5px 10px; 
	text-decoration:none; 
}

.lista li a:hover {	
	color:#fff;
	display: block;
	background:#333;
}

.sublista{
	display: none;
	position:absolute;
}

.lista:hover li .sublista{
	display:block;
}