.header{	
	width: 96vw;
	height: 15vh;
	
	display: grid;
	grid-template-rows: 1fr minmax(auto, 20%);
	grid-template-areas: 'logo txt btn' 'logo list btn';

	align-items: center;
	justify-items: center;
	
	padding: 1.5vh;
	background-color: #4484ce;

	overflow: hidden;
}

.header_logo{
	grid-area: logo;

	cursor: pointer;
	max-height: 10vh;

	margin-left: 5%;
	justify-self: flex-start;
}

.header_text{
	grid-area: txt;
}

.header_btn{
	grid-area: btn;
	
  margin: 0;
	cursor: pointer;
  padding: 1vw;

  border: unset;
  border-radius: 20px;
  
  color: #000000;
	background: #ffae00;
  
	font-size: 14px;
	font-weight: 600;
  line-height: 100%;

	text-decoration: none;
}

.header_btn:hover {
  background: #ffae00e1;
}

.header_menu{
	grid-area: list;	

	padding: 0;
	display: grid;
	grid-auto-flow: column;
}

.item{
	list-style:none;
	padding-inline-start:0;
}

.sublista{
	display: none;
	position: absolute;
	background-color: white;
	
	padding: 2vh;
	margin-top: -0.5%;
	border-radius: 1vh;
}

.item li a {	
	color:#333; 
	display:block;
	padding:5px 10px; 
	text-decoration:none;
}

.item:hover li .sublista{
	display:block;
}

.item li a:hover {	
	color:#fff;
	display: block;
	background:#333;
}