.footer{
	width: 97.5vw;
	height: 40.5vh;

	display: grid;
	justify-content: space-between;
	grid-template-rows: 1fr minmax(auto);
	grid-template-columns: 1fr minmax(auto, 20%);
	grid-template-areas: 'rso rso rso' 'logos prod ctt' 'cop cop cop';

	overflow: hidden;
	background-color: #afafaf;
}

.social-media{
	grid-area: rso;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	height: 4vh;
	padding: 0.5% 5% 0.5% 1%;
	
	overflow: hidden;
	color: rgb(255, 255, 255);
	background-color: #4484ce;
}

.icon{
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-items: center;	
	justify-content: space-between;	
}

.social-icon{
	max-width: 3vw;
	max-height: 3vh;

	cursor: pointer;
	margin-right: 3vh;
}

.selos{
	grid-area: logos;

	display: flex;
	align-self: center;
	align-items: center;
	flex-direction: column;
	justify-self: flex-start;
}

.pareceiros{
	margin: 2vw;
	max-width: 14vw;
	max-height: 7vh;
	cursor: pointer;
}

.selo-ecos{
	margin: 2vh;
	max-width: 100vw;
	max-height: 9vh;
	margin-left: 3vh;
}

.contatos{
	grid-area: ctt;
	
	display: flex;
	flex-direction: column;

	padding: 2%;
	color: rgb(46, 44, 44);
}

.copyright{
	grid-area: cop;

	max-height: 4vh;
	
	display: flex;
	align-items: center;
	align-self: flex-end;
	justify-content: center;

	color: rgb(46, 44, 44);
	background-color: #f8fc00;
}

.social-media p{
	font-size: 20px;
	font-weight: bold;
}

li{
	list-style-type: none;
	margin-bottom: 1vh;
}