.homepage{
	display: grid;
	grid-row-gap: 5vh;
	grid-template-areas: 'head head' 'ban ban' 'news inst ' 'foot foot';
	
	height: auto;
	max-width: auto;
	border-radius: 2vh;
	background-color: #d9d9d9;
}

.header{
	grid-area: head;
}

.banner{
	grid-area: ban;
}

.news{
	grid-area: news;
}

.institucional{
	grid-area: inst;
}

.footer{
	grid-area: foot;
}


.chamada{
	justify-self: center;
}