.banner{
	margin: 1%;
	height: 50vh;
	max-width: 95vw;

	display: grid;
	grid-template-areas: 'back circ next';	
	
	background-size: 100% 100%;
	background-position: center;

	border-radius: 2vh;
	box-shadow: 5px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.circle{
	margin: 0.5vh;
	max-width: 1.5vw;
	max-height: 1.5vh;	
}

.div-circle{
	grid-area: circ;
	align-self: flex-end;
	justify-self: center;
}

.banner_proximo{
	grid-area: next;
	margin-right: 2vh;
	justify-self: right;
}

.banner_anterior{
	grid-area: back;
	margin-left: 2vh;
	justify-self: left;	
}

.banner_proximo, .banner_anterior{
	max-width: 5vh;
	max-height: 5vh;

	align-self: center;
}

.banner_proximo, .banner_anterior, .circle{
	cursor: pointer;
	border-radius: 100vw;
	background-color: rgba(255, 255, 255, 0.521);
	box-shadow: 5px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.banner_anterior:hover, .banner_proximo:hover, .circle:hover{
	border-radius: 100vw;
	background-color: rgba(0, 0, 0, 0.2);
}
